*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.pic-container{
  width: 100vw;
  height: 150vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(400deg);
  }
}

.picture{
  width:200px;
  height: 200px;
 
}
.picture:active{
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite; 
}

@media(max-width: 550px){
  .picture{
    width: 200px !important;
    height: 200px !important;
  }
}

@media(max-width: 1650px){
  .pic-container{
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }

  .picture{
    width:500px;
    height: 700px;
    margin-top: 50px;
  }

  @media(max-width:1000px) {
    .pic-container{
      background-color: blue;
    }
  }
}

